@font-face {
  font-family: 'karla';
  src: url('../assets/fonts/Karla-VariableFont_wght.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'karla';
}
body {
  background-color: #e2f1e7;
}
.contact-form {
  background-color: #fff;
  width: 600px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transform: translateY(50%);
}

.contact-form .name-container,
.query-container .query-section {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.contact-form .name-container label,
.email-container label,
.message label {
  display: block;
  font-size: 20px;
}
.contact-form .name-container input,
.email-container input,
.message input,
.query {
  display: block;
  font-size: 20px;
  padding: 5px 0;
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
}
label::after {
  content: '*';
  /* position: relative; */
  color: green;
  margin-left: 5px;
}
